<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.BookMapper">
	<!-- sql작성 id는 BookMapper.java 메소드명과 똑같이! -->
	<insert id="insert"> 
		insert into booktbl(code, title, writer, price) 
		values(#{code}, #{title}, #{writer}, #{price})
	</insert>
	
	<select id="list" resultType="com.study.dto.BookDTO">
		select * from booktbl
	</select>
	
	<select id="select" resultType="com.study.dto.BookDTO">
		select * from booktbl where code=#{code}
	</select>
	
	<select id="search" resultType="com.study.dto.BookDTO">
		select * from booktbl
		where
		<if test="criteria=='code'.toSring()">
			code = #{keyword}
		</if>
		<if test="criteria=='writer'.toString()">
			writer likt '%'||#{keyword}||'%'
		</if>
	</select>
	
	<update id="update">
		update booktbl
		set price=#{price}
		where code=#{code}
	</update>
	
	<delete id="delete">
		delete from booktbl where code=#{code}
	</delete>

</mapper>